#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
}

.page h1 {
  text-align: center;
}

.scoreBoard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.dogPic {
width: 25vw;
height:25vw;
}

.cardContainer {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}