#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing:border-box;
  overflow: scroll;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page h1 {
  text-align: center;
}

.scoreboard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.gameboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 90vw;
  height: 90vw;
  border: 3px solid red;
}


.gameCard {
border: 2px solid pink;
display: flex;
flex-direction: column;
justify-content: center;

}

.gameCard img {
  width: 100%;
  height: 100%;
  object-fit:cover;
  max-height: 15rem;

}

.dogPic {
width: 100%;
height:100%;
}

.cardContainer {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}